*{
    margin: 0;
    padding: 0;
   }
     .titulo-fonte{
          margin-top: 20px;
     }
     .tac{
          text-align: center;
     }
     .box-form{
          padding: 20px;
          background-color: rgba(217,217,217, .05);
          color: white !important;
     }
     .container {
          position: relative;
          top: 70px;
     }