{% extends 'base.html' %}
{% load static %}
{% block 'cabecalho' %}
<link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
{% endblock %}
{% block 'conteudo' %}
<div class="bg1">
  <form action="{% url 'cadastro' %}" method="POST">
    {% csrf_token %}
    <div class="tac">
      <br><br>
      <h1>Cadastro</h1>
      <br>
      {% for field in form.visible_fields %}
        <div style="margin-bottom: 10px;">
            <label for="{{ field.id_for_label }}" class="label-form">{{field.label}}</label>
            {{ field }}
        </div>
      {% endfor %}
      <br>
      <button class="btn btn-success" style="width: 300px;">Cadastrar</button>
    </div>
  </form>
</div>
{% endblock 'conteudo' %}