:root{

    --main-color: #0b1526;
    --dark-color: #363636;
    --secondary-dark-color: rgb(15, 2, 26);
    --light-color: #EEEEEE;
    --contrast-color: #FEAC0E;
    --differential-color: #6B48FF;
   }
   body{
    background-color: var(--dark-color) !important;
    color: white !important;
   }
   